language: python
python:
  - "3.6"
sudo: required
services:
  - docker
install:
  - pip install -r requirements.txt
script:
  - invoke runtests
  - ./travis/validate_spiders.sh
deploy:
- skip_cleanup: true
  provider: script
  script: ./deploy/deploy_acr.sh
  on:
    branch: master
