[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dateutil = "*"
pytz = "*"
requests = "*"
scrapy = "*"
scrapy-sentry = "*"
legistar = {git = "https://github.com/opencivicdata/python-legistar-scraper"}
scrapy-wayback-middleware = "*"
city-scrapers-core = {extras = ["azure"],version = "*"}
pypdf2 = "*"
pypiwin32 = {version = "*",sys_platform = "== 'win32'"}

[dev-packages]
freezegun = "*"
pytest = "*"
"flake8" = "*"
isort = "*"
black = "==19.10b0"
