[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
inflector = "*"
jinja2 = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
twisted = ">=18.9.0"
scrapy = "*"
scrapy-sentry = "*"
legistar = {git = "https://github.com/opencivicdata/python-legistar-scraper"} 
city-scrapers-core = {extras = ["azure"],version = "*"}
scrapy-wayback-middleware = "*"

[dev-packages]
freezegun = "*"
pytest = "*"
"flake8" = "*"
isort = "*"
yapf = "*"

[pipenv]
allow_prereleases = true
