{
  "http_interactions": [
    {
      "recorded_at": "2018-05-21T23:24:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://ocd.datamade.us/ocd-event/86094f46-cf45-46f8-89e2-0bf783e7aa12/"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"end_date\": \"\", \"debug\": null, \"jurisdiction\": {\"url\": \"https://chicago.legistar.com/\", \"id\": \"ocd-jurisdiction/country:us/state:il/place:chicago/government\", \"name\": \"Chicago City Government\"}, \"status\": \"cancelled\", \"extras\": {}, \"sources\": [{\"url\": \"http://webapi.legistar.com/v1/chicago/events/4954\", \"note\": \"api\"}, {\"url\": \"https://chicago.legistar.com/MeetingDetail.aspx?ID=565455&GUID=B5103C52-1793-4B07-9F28-E0A1223E1540&Options=info&Search=\", \"note\": \"web\"}], \"all_day\": false, \"created_at\": \"2017-09-21T16:50:21.706742+00:00\", \"agenda\": [], \"location\": {\"coordinates\": null, \"url\": \"\", \"name\": \"Council Chambers ,  City Hall \"}, \"start_date\": \"2017-10-16T15:00:00+00:00\", \"participants\": [{\"entity_id\": \"ocd-organization/bc24064d-2e11-40b2-bbce-197b8e3af634\", \"entity_name\": \"Joint Committee: Finance; Transportation and Public Way\", \"note\": \"participant\", \"entity_type\": \"organization\"}], \"links\": [], \"id\": \"ocd-event/86094f46-cf45-46f8-89e2-0bf783e7aa12\", \"media\": [], \"documents\": [{\"date\": \"\", \"note\": \"Cancellation Notice\", \"links\": [{\"url\": \"http://media.legistar.com/chic/meetings/B5103C52-1793-4B07-9F28-E0A1223E1540/Fin%20CANCELLED%2010-16_20171010085450.pdf\", \"media_type\": \"application/pdf\"}]}], \"classification\": \"event\", \"name\": \"Joint Committee: Finance; Transportation and Public Way\", \"description\": \"\", \"updated_at\": \"2017-10-10T12:48:03.997118+00:00\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://ocd.datamade.us/ocd-event/86094f46-cf45-46f8-89e2-0bf783e7aa12/"
      }
    },
    {
      "recorded_at": "2018-05-21T23:24:40",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "https://ocd.datamade.us/ocd-event/a00434b1-d35f-40fa-af3b-e48873c3177d/"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"end_date\": \"\", \"debug\": null, \"jurisdiction\": {\"url\": \"https://chicago.legistar.com/\", \"id\": \"ocd-jurisdiction/country:us/state:il/place:chicago/government\", \"name\": \"Chicago City Government\"}, \"status\": \"passed\", \"extras\": {}, \"sources\": [{\"url\": \"http://webapi.legistar.com/v1/chicago/events/4969\", \"note\": \"api\"}, {\"url\": \"https://chicago.legistar.com/MeetingDetail.aspx?ID=569253&GUID=0B9F42FC-CE0B-4494-A60C-2D84493D9141&Options=info&Search=\", \"note\": \"web\"}], \"all_day\": false, \"created_at\": \"2017-10-06T14:59:35.127688+00:00\", \"agenda\": [{\"notes\": [], \"subjects\": [], \"description\": \"Attendance\", \"related_entities\": [], \"order\": \"0\"}, {\"notes\": [], \"subjects\": [], \"description\": \"Zoning Reclassification Map No. 16-F at 6700-6856 S Wentworth Ave, 171-225 W Marquette Rd and 168-226 W 69th St \", \"related_entities\": [{\"entity_id\": null, \"entity_name\": \"SO2017-6434\", \"note\": \"consideration\", \"entity_type\": \"bill\"}], \"order\": \"1\"}, {\"notes\": [], \"subjects\": [], \"description\": \"Zoning Reclassification Map No. 16-F at 6701-6859 S Wentworth Ave, 147-157 W Marquette Rd and 142-156 W 69th St \[...]
[...]
