{
  "http_interactions": [
    {
      "recorded_at": "2017-09-06T07:03:55",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "http://www.mapquestapi.com/geocoding/v1/address?key=KWNWFvp3KP6x0AKtULuJgPm6MRO7nAND&location=121+N.+Lasalle%2C+Chicago%2C+IL&maxResults=1&outFormat=json"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"info\":{\"statuscode\":0,\"copyright\":{\"text\":\"\\u00A9 2017 MapQuest, Inc.\",\"imageUrl\":\"http://api.mqcdn.com/res/mqlogo.gif\",\"imageAltText\":\"\\u00A9 2017 MapQuest, Inc.\"},\"messages\":[]},\"options\":{\"maxResults\":1,\"thumbMaps\":true,\"ignoreLatLngInput\":false},\"results\":[{\"providedLocation\":{\"location\":\"121 N. Lasalle, Chicago, IL\"},\"locations\":[{\"street\":\"121 N Lasalle St\",\"adminArea6\":\"\",\"adminArea6Type\":\"Neighborhood\",\"adminArea5\":\"Chicago\",\"adminArea5Type\":\"City\",\"adminArea4\":\"Cook\",\"adminArea4Type\":\"County\",\"adminArea3\":\"IL\",\"adminArea3Type\":\"State\",\"adminArea1\":\"US\",\"adminArea1Type\":\"Country\",\"postalCode\":\"60602\",\"geocodeQualityCode\":\"L1BAA\",\"geocodeQuality\":\"ADDRESS\",\"dragPoint\":false,\"sideOfStreet\":\"L\",\"linkId\":\"rnr6209102|i19007316\",\"unknownInput\":\"\",\"type\":\"s\",\"latLng\":{\"lat\":41.883617,\"lng\":-87.632367},\"displayLatLng\":{\"lat\":41.883617,\"lng\":-87.632367},\"mapUrl\":\"http://www.mapquestapi.com/staticmap/v5/map?key=KWNWFvp3KP6x0AKtULuJgPm6MRO7nAND&type=map&size=225,160&locations=41.883617,-87.632367|marker-sm-50318A-1&scalebar=true&zoom=15&rand=2044015731\"}]}]}"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=UTF-8"
          ],
          "GeocodeTransactionCount": [
            "1"
          ],
          "Last-Modified": [
            "Wed, 06 Sep 2017 07:03:55 GMT"
          ],
          "ReverseGeocodeTransactionCount": [
            "0"
          ],
          "status": [
            "success"
          ],
          "transactionWeight": [
            "1.0"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "http://www.mapquestapi.com/geocoding/v1/address?key=KWNWFvp3KP6x0AKtULuJgPm6MRO7nAND&location=121+N.+Lasalle%2C+Chicago%2C+IL&maxResults=1&outFormat=json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}