# Environment

## Get parent dir
DIR="$( cd "$( dirname `dirname "${BASH_SOURCE[0]}"` )" && pwd )"

## Force parent dir into python search path
export PYTHONPATH=$PYTHONPATH:$DIR

# Config

## Scrapy
export SCRAPY_SETTINGS_MODULE='deploy.prod_settings'

## Airtable API key (generate/view at https://airtable.com/account)
export AIRTABLE_API_KEY='<YOURAIRTABLE_API_KEY>'

## Airtable database/table identifiers (click your database at https://airtable.com/api)
export DOCUMENTERS_AGGREGATOR_AIRTABLE_BASE_KEY='<YOUR BASE KEY>'
export DOCUMENTERS_AGGREGATOR_AIRTABLE_DATA_TABLE='Events'
export DOCUMENTERS_AGGREGATOR_AIRTABLE_GEOCODE_TABLE='GeocodeDatabase'

## Mapzen
export MAPZEN_API_KEY=''

# AWS
export AWS_ACCOUNT_ID=''

export ECS_REPOSITORY_URI=''

export AWS_DEFAULT_REGION='us-east-1'

## These credentials should be for a user limited to only the resources required
## by this virtual machine
export AWS_ACCESS_KEY_ID=''
export AWS_SECRET_ACCESS_KEY=''

## Google - Fetch the Ward Night data from a Google Sheet
export CITY_SCRAPERS_GOOGLE_API_KEY=''
