.greedy-nav .visible-links li {
  font-size: 13px;
}

.page__content p,
.page__content li,
.page__content dl {
  font-size: 16px;
}

.greedy-nav a {
  margin: 0 0.5rem;
}

.page__hero--overlay .page__title {
  color: #000;
  text-shadow: none;
}
