---
---

@charset "utf-8";

$type-size-1 : 32px;
$type-size-2 : 28px;
$type-size-3 : 24px;
$type-size-4 : 20px;
$type-size-5 : 18px;
$type-size-6 : 16px;
$type-size-7 : 14px;
$type-size-8 : 12px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

@import "styles";
